*{
  padding: 0;
  margin: 0;
}
.button-49,
.button-49:after {
  width: 100%;
  height: 66px;
  line-height: 55px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: .51s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {

    width: 100%;
    height: 86px;
    line-height: 88px;
  }
}

@keyframes ligthabout {
  0%   {  box-shadow: 0 0 .3rem #fff,
    0 0 .3rem #fff,
    0 0 3rem #ecbbff,
    0 0 1.2rem #ecbbff,
    0 0 1.2rem #ecbbff,
    inset 0 0 1.3rem #ecbbff;}

  50%  {  box-shadow: 0 0 .3rem #fff,
    0 0 .3rem #fff,
    0 0 3rem #bc13fe,
    0 0 1.2rem #bc13fe,
    0 0 1.2rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;}

    100%   {  box-shadow: 0 0 .3rem #fff,
      0 0 .3rem #fff,
      0 0 3rem #ecbbff,
      0 0 1.2rem #ecbbff,
      0 0 1.2rem #ecbbff,
      inset 0 0 1.3rem #ecbbff;}
}

h1{
  font-size: 66px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: aliceblue;
  text-align: center;
  margin: 0;
  animation: 1s ease-out 0s 1 slideInLeft;
}

h2{
  font-size: 28px;
  text-align: center;
  margin: 0;
  color: aliceblue;
  animation: 1s ease-out 0s 1 slideInLeft;
}

h3{
  font-size: 18px;
  text-align: center;
  margin: 0;
  color: aliceblue;
  animation: 1s ease-out 0s 1 slideInLeft;

}

.row-image img{
  width: 100%;
  position: relative;
  left: 4vw;
  top: 4vw;
}

.row-content-principal{
  background-image:
  linear-gradient(to bottom, rgba(26, 26, 26, 0.95), rgba(43, 43, 43, 0.95)),
  url("/assets/img/bg-abour.JPG");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;


}



.row-neon{
  border-style: solid;
  border-color: aliceblue;
  width:66%;
  animation: ligthabout 3s infinite;
}

.row-content-principal{
  padding: 7.5vw 10vw;
  width: 100%;
}


.row-button{
  margin-top: 1.5vw;
  animation: 1s ease-out 0s 1 slideInLeft;
  width: 66%;
 position: relative;
  left: 12%;
}

@media only screen and (max-width: 768px){

  .row-image img{
    left: 0vw;
    top: 0vw
  }



  h1{
    line-height: 66px;
  }
  .row-neon{
   position: relative;
   width:80%;
   margin-top: 5vw;
   margin-bottom: 5vw;
      }
}
