<div class="row row-content-principal">
<div class="row row-content-secundario col-md-12 d-flex justify-content-center">

  <div class="row-image col-md-5 d-flex justify-content-center">
    <div class="row-neon">
      <img src="/assets/img/AboutPic.JPG" alt="">
    </div>
  </div>

  <div class="col-md-6  d-flex justify-content-center align-items-center">
    <div class="">
      <h2>Hello, my name is</h2><br>
      <h1>MALAIKA BROWN</h1>
      <h3>  If you want to know amazing emotions and get enough of the embodiment of sexual whims, then you should definitely be face-to-face with me.   This quick-tempered beauty without rest develops her virtues and hypnotizes with something interesting in her broadcasts. Both loyal viewers and those who first decided to look at her vulgar web chat will be completely and completely satisfied.</h3>
      <h3>And the mysterious coquette perfectly knows how to demonstrate its chic features. She loves to pinch her nipples on an online video camera. The unimaginable beauty is often supportive of the desires of her viewers and she strives to fulfill them completely. Her skills hypnotize and promise complete pleasure.</h3>
     <div class="row-button  d-flex justify-content-center">

      <a href="https://www.streamate.com/cam/MalaikaBrown" class="button-49"  target="_blank" rel="noopener noreferrer">Streatmate</a>
      </div>
    </div>
  </div>
</div>
</div>



