<div class="row text-box-row d-flex justify-content-center">
  <div class="text-box d-flex flex-column col-md-6">
    <div>
    <h2>Hello, do you want to meet me? am</h2><br>
    <h1>malaika brown</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse felis mi, accumsan vitae quam at, faucibus interdum ex. Cras lorem.      </h3>
    <div class="row d-flex justify-content-center row-icons">
        <a href="https://instagram.com/Malaika_Brown1/" target="_blank" rel="noopener noreferrer">
          <img src="assets/Icons/instagram.png" alt="">
        </a>
        <a href="https://www.reddit.com/user/MalaikaBrown" target="_blank" rel="noopener noreferrer">
          <img src="assets/Icons/reddit.png" alt="">
        </a>
        <a href="https://www.amazon.com/hz/wishlist/ls/3TLABDO18XY9G?ref_=wl_share" target="_blank" rel="noopener noreferrer">
          <img src="assets/Icons/social.png" alt="">
        </a>
        <a href="https://tiktok.com/@Malaika_Brown1" target="_blank" rel="noopener noreferrer">
          <img src="assets/Icons/tik-tok.png" alt="">
        </a>
        <a href="https://twitter.com/MalaikaBrown18 " target="_blank" rel="noopener noreferrer">
          <img src="assets/Icons/gorjeo.png" alt="">
        </a>


    </div>
    </div>
  </div>
</div>
